/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
    font-family:"Socialico";
    src:url("../font/Socialico.eot?") format("eot"),
        url("../font/Socialico.woff") format("woff"),
        url("../font/Socialico.ttf") format("truetype"),
        url("../font/Socialico.svg#Socialico") format("svg");
    font-weight:normal;
    font-style:normal;
}
*, 
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix{
    &:before{
        clear: both;
        content: ' ';
        display: block;
    }
    &:after{
        clear: both;
        content: ' ';
        display: block;
    }
}

body{
    margin: 0;
    padding: 0;
    
}
.wrapp{
    width: 100%;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 56px;
    background-color: white;
    box-shadow: 0 1px 0 #d7d7d7;
}
.conteiner{
    width: 600px; 
    margin: 0 auto;
    &:before{
        clear: both;
        content: ' ';
        display: block;
    }
    &:after{
        clear: both;
        content: ' ';
        display: block;
    }
}

.header-logo{
    float: left;
    margin: 19px 0;
    max-width: 100%;
   
}


.header-sozico{
    float: right;
    width: 294px;
    list-style: none;
    margin: 0;
    padding: 0;
    & li{
        float: left;
        width: 58px;
        height: 58px;
        border-left: 1px solid #d7d7d7;
        text-align: center;
        padding-top: 18px;
        &:last-child{
            border-right: 1px solid #d7d7d7;
        }
    }
    & li a{
          cursor: pointer;
          color: #c4c4c4;
          font-family: Socialico;
          text-decoration: none;
          font-weight: 400;
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
              &.f{
                  font-size: 30px;
                  }
              &.l{
                  font-size: 37px;
                  margin-top: -2px;
                  }
              &.d{
                  font-size: 30px;
                  }
              &.v{
                  font-size: 30px;
                  }
              &.r{
                  font-size: 30px;
                  }

        }

}

.header-sozico li:hover a{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    color: #f26868;
    }

.block-slider{
    overflow: hidden;
    width: 100%;
    height: 400px;
    border-color: #f8f8f8;
    box-shadow: 0 1px 0 #dfdfdf;
    display: block;
    & .head{
        margin-top: 94px;
        color: #616060;
        font-family: 'Lato', sans-serif;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        &>b{
            font-weight: 100;
        }
        &>b + b{
            font-weight: 800;
        }
    }
    & .text {
      width: 394px;
      text-align: center;
      color: #8a8a8a;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-weight: 400;
      margin: 0 auto;
      margin-top: 19px;
    }
}

.blurl{
    position: relative;
    width: 100%;
    margin-top: 60px;
    display: block;
}

.bottonH1 {
    position: relative;
    display: block;
    width: 309px ;
    background-color: #f26868;
    border: 3px solid #e25959;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 600;
    padding: 11px 58px;
    margin: 0 auto;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.bottonH1-text{
    color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.bottonH1:hover{
    background-color: darken(#f26868, 10%);
}

.body{
    width: 100%;
}

.wcon{
    position: relative;
    width: 100%;
    margin-bottom: 80px;
    display: block;
    &.top90{
        margin-top: 80px;
    }
}



.block1{
    position: relative;
    float: left;
    width: 203px;
}

.block2{
    position: relative;
    float: left;
    width: 396px;
    & .headtext{
        padding-left: 10px;
        color: #6b6b6b;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 35px;
        text-transform: uppercase;
    }
    & .headtext1{
        .headtext;
        margin-top: -6px;
        padding-left: 0;
    }
    & .bodytext{
        padding-left: 13px;
        padding-top: 14px;
        color: #9d9c9c;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
    & .bodytext1{
        .bodytext;
        padding-top: 12px;
        padding-left: 0;
    }
}
.ml12{
    margin-left: 12px;
}
.mt-8{
    margin-top: -8px
}
.maimg{
    margin: 0 auto;
    display: block;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    display: block;
    clear: both;
}


.graphic{
    margin-top: 73px;
    width: 100%;
    height: 237px;
    & .conteiner{
        margin: 0 auto;
        & img{
            max-width: 100%;
        }
    }
}



.befooter{
    width: 100%;
    height: 322px;
    margin-top: 90px;
    background: #f6f6f6;
    animation: scales 1.2s ease-out;
    & h1{
      padding-top: 74px;
      color: #6b6b6b;
      font-family: 'Open Sans', sans-serif;
      font-size: 28px;
      font-weight: 700;
      line-height: 35px;
      text-transform: uppercase;
    }
    & p{
      margin-top: -3px;
      margin-bottom: 42px;
      color: #9d9c9c;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    & a{
        padding: 11px 60px;
        background-color: #f26868;
        border: 3px solid #e25959;
        width: 120px;
        height: 13px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -ms-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
        &:hover{
            background-color: darken(#f26868, 10%);
        }
    }
    
}



.footer{
    width: 100%;
    height: 62px;
}
.footer-logo{
    float: left;
    margin: 25px 0;
}

.footer-nav{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 22px;
    & li{
        float: left;
        padding-left: 27px;
        &:after{
            position: absolute;
            margin-top: 4px;
            margin-left: 14px; 
            font-size: 12px;
            font-weight: 400;
            color:  #8c8b8b;
            content: '-';
            
        }
        &:last-child:after{
            content: ' ';
        }
    }
    & li a{
          color: #8c8b8b;
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          font-weight: 400;
          text-decoration: none;
    }
}

.footer-nav li:hover a{
         color: #f26868;
    }

@media screen and (min-width:1024px){
    .conteiner{
    max-width: 100%;
    padding: 0 10px;
    width: 850px;
    }
    .block1{
        width: 20%;
    }
    .block2{
        width: 80%;
    }
    .graphic .conteiner img {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    }
}


@media screen and (max-width:768px){
    header,section,footer{
        width: 100%;
        margin: 0 0px;
        padding: 0 5px;
    }
    .conteiner{
        width: 100%;
    }
    .header{
        box-shadow: none;
    }
    .header-logo-mobi{
        clear: both;
        float: none;
        margin: 50px auto;
        display: block;
    }
    .header-sozico {
        clear: both;
        float: none;
        margin: 0 auto;
        & li{
            border: 1px solid #d7d7d7;
        }
    }

    .block-slider{
        width: 100%;
        height: 300px;
        border-color: #f8f8f8;
        box-shadow: 0 1px 0 #dfdfdf;
        & .head{
            margin-top: 4px;
            font-size: 20px;
        }
        & .text {
          width: 100%;
          font-size: 16px;
          font-weight: 400;
          margin: 0 auto;
          margin-top: 19px;
    }
        
}

.blurl{
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: block;
}

.bottonH1 {
    width: 213px;
    font-size: 14px;
    font-weight: 600;
    padding: 11px 28px;
    text-align: center;
}
    
.wcon {
    margin-bottom: 30px;
    & .block1{
        width: 100%;
        line-height: 20px;
    }
    & .block2{
        line-height: 20px;
        width: 100%;
        & .headtext1{
            text-align: center;
            padding-left: 10px;
        }
        & .headtext{
            text-align: center;
        }
        & .bodytext1{
            padding-left: 10px;
        }
    }
    }
    
    
 .befooter{
     padding-right: 15px;
    & h1{
      padding-top: 24px;
      font-size: 20px;
    }
    & a{
        width: 200px;
        font-size: 14px;
        font-weight: 600;
        padding: 11px 28px 25px;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}

.footer-logo{
    float: none;
    margin: 10px auto;
    display: block;
}

.footer-nav{
    float: none;
    width: 300px;
    list-style: none;
    padding-top: 10px;
    margin: 0 auto;
    display: block;
   
}   

    
}



    
/* АНИМАЦИЯ 


@keyframes animleft{
    0%{
        opacity: 0;
        margin-left: -5000px;
    }
    100%{
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes animright{
    0%{
        opacity: 0;
        right: -5000px;
    }
    100%{
        opacity: 1;
        right: 0;
    }
}

@keyframes scales{
    0%{
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

*/